<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
   <link rel="icon" href="/img/cloudy.png">
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
       {{>header}}
      <img class="img" src="./img/diana.jpg">
          <div class="about-text-container">
              <p> I am Diana De Guzman a Third year IT student from Sorsogon State University.
                  Hello and welcome to  weather app! A group of   college IT students from Sorsogon State University are working on this project.,
                   and im  excited to bring you this tool to help you stay up to date with the latest weather conditions. 
                   Our app uses Node.js, Express.js, and an API from weatherstack to provide accurate and reliable weather data for your location.
                   I hope that you find this app that are useful and   it helps you stay informed and prepared for whatever the weather may bring. 
                    Thank you for using this app, and we look forward to hearing your feedback and suggestions.".
               </p>
          </div>
     </div>
     
  
  {{>footer}}
</body>
</html>